<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mapName</key>
	<string>GargeI</string>
	<key>mapType</key>
	<string>pdf</string>
	<key>mapSizeX</key>
	<integer>500</integer>
	<key>mapSizeY</key>
	<integer>500</integer>
	<key>name</key>
	<string>Garge I</string>
	<key>major</key>
	<integer>1</integer>
	<key>beacons</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<real>44.5</real>
			<key>y</key>
			<real>74.5</real>
			<key>range</key>
			<integer>3</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<real>226.5</real>
			<key>y</key>
			<real>74.5</real>
			<key>range</key>
			<integer>3</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<real>431.5</real>
			<key>y</key>
			<real>74.5</real>
			<key>range</key>
			<integer>3</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<real>40.5</real>
			<key>y</key>
			<real>230.5</real>
			<key>range</key>
			<integer>3</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<real>222.5</real>
			<key>y</key>
			<real>226.5</real>
			<key>range</key>
			<integer>3</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>x</key>
			<real>427.5</real>
			<key>y</key>
			<real>226.5</real>
			<key>range</key>
			<integer>3</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>x</key>
			<real>40.5</real>
			<key>y</key>
			<real>400.5</real>
			<key>range</key>
			<integer>3</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>x</key>
			<real>222.5</real>
			<key>y</key>
			<real>396.5</real>
			<key>range</key>
			<integer>3</integer>
		</dict>
		<key>9</key>
		<dict>
			<key>x</key>
			<real>427.5</real>
			<key>y</key>
			<real>396.5</real>
			<key>range</key>
			<integer>3</integer>
		</dict>
		<key>0</key>
		<dict>
			<key>x</key>
			<real>222.5</real>
			<key>y</key>
			<real>226.5</real>
			<key>range</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
