<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mapName</key>
	<string>GargeI</string>
	<key>mapType</key>
	<string>pdf</string>
	<key>mapSizeX</key>
	<integer>1650</integer>
	<key>mapSizeY</key>
	<integer>1121</integer>
	<key>name</key>
	<string>First Floor</string>
	<key>major</key>
	<integer>1</integer>
	<key>beacons</key>
	<dict>
		<key>1</key>
		<dict>
			<key>x</key>
			<integer>400</integer>
			<key>y</key>
			<integer>300</integer>
			<key>range</key>
			<integer>3</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>x</key>
			<integer>800</integer>
			<key>y</key>
			<integer>300</integer>
			<key>range</key>
			<integer>3</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>x</key>
			<integer>1200</integer>
			<key>y</key>
			<integer>300</integer>
			<key>range</key>
			<integer>3</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>x</key>
			<integer>400</integer>
			<key>y</key>
			<integer>600</integer>
			<key>range</key>
			<integer>3</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>x</key>
			<integer>800</integer>
			<key>y</key>
			<integer>600</integer>
			<key>range</key>
			<integer>3</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>x</key>
			<integer>1200</integer>
			<key>y</key>
			<integer>600</integer>
			<key>range</key>
			<integer>3</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>x</key>
			<integer>400</integer>
			<key>y</key>
			<integer>900</integer>
			<key>range</key>
			<integer>3</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>x</key>
			<integer>800</integer>
			<key>y</key>
			<integer>900</integer>
			<key>range</key>
			<integer>3</integer>
		</dict>
		<key>9</key>
		<dict>
			<key>x</key>
			<integer>1200</integer>
			<key>y</key>
			<integer>900</integer>
			<key>range</key>
			<integer>3</integer>
		</dict>
		<key>0</key>
		<dict>
			<key>x</key>
			<integer>750</integer>
			<key>y</key>
			<integer>750</integer>
			<key>range</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
